.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 676px) {
  .sign-in {
    width: 100%;
    .buttons {
      flex-wrap: wrap;
    }
  }
}
